<title>Jobs</title>

<h1>Jobs</h1>

<table>
    <tr>
        <th>Job</th>
        <th>Company</th>
        <th>Posted</th>
    </tr>

    {% for job in object_list %}
    <tr>

        <td><a href="{{ job.get_absolute_url }}">{{ job.name }}</a></td>
        <td>{{ job.company }}</td>
        <td>{{ job.posted }}</td>
    </tr>
    {% endfor %}

</table>
