<h1>{{ object.name }}</h1>

<a href="{{ object.url }}" rel="noreferrer">{{ object.url }}</a>

<dl>
    <dt>Posted
    <dd>{{ object.posted }}
    <dt>Company
    <dd>{{ object.company }}
    <dt>Tags
    <dd>{{ object.tags }}
</dl>

{% if object.text %}
    {{ object.text|safe }}
{% endif %}
